.head {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  input[type='email'] {
    padding: 10px;
    width: 60%;
    border: 1px solid black;
  }
  
  button {
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  